*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
}

h1{
    margin-bottom:20px;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:15px;
}

.gallery img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:10px;
    cursor:pointer;
    transition:0.4s;
}

.gallery img:hover{
    transform:scale(1.05);
    filter:brightness(80%);
}

/* Lightbox */

.lightbox{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.9);
    justify-content:center;
    align-items:center;
}

.lightbox-img{
    width:80%;
    max-width:700px;
    border-radius:10px;
}

.close{
    position:absolute;
    top:20px;
    right:30px;
    font-size:40px;
    cursor:pointer;
}

.prev,.next{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background:white;
    border:none;
    padding:10px 15px;
    cursor:pointer;
    font-size:20px;
    border-radius:50%;
}

.prev{
    left:20px;
}

.next{
    right:20px;
}

/* Responsive */

@media(max-width:768px){
    .lightbox-img{
        width:95%;
    }
}

.buttons{
    margin-bottom:20px;
}

.buttons button{
    padding:10px 20px;
    margin:5px;
    border:none;
    background:#ff4081;
    color:white;
    border-radius:5px;
    cursor:pointer;
    transition:0.3s;
}

.buttons button:hover{
    background:#e91e63;
    transform:scale(1.05);
}